.row {
    display: table-row;
    margin: 0;
    padding: 0;
}
.cell {
    display: table-cell;
    border-color: red;
    border-width: 1px;
    border-style: solid;
    width: 250px;
    height: 250px;
    margin: 0;
    padding: 0;
}
.over {
    border: 2px solid rgb(21, 206, 98);
}